@model ToDoList.Domain.Entities.TaskEntity
<tr>
    <td>@Model.Title</td>
    <td>@Model.Description</td>
    <td>@Model.DeadLine.ToString("dd MMM yyyy h:mm tt")</td>
    <td>@Model.Priority</td>
    <td>@Model.Status</td>
    <td>
        @if(Model.Status == Status.InProgress){
            <form asp-action="CloseTask" method="post">
                <input type="hidden" name="taskId" value=@Model.Id>
                <button type="submit">Close</button>
            </form>
        }
        else if(Model.Status == Status.NotStarted){
            <form asp-action="StartTask" method="post">
                <input type="hidden" name="taskId" value=@Model.Id>
                <button type="submit">Start</button>
            </form>
        }
    </td>
    <td>
        @if(Model.Status != Status.Completed){
            <form asp-action="UpdateTask" method="post">
                <input type="hidden" name="taskId" value=@Model.Id>
                <button type="submit">Update</button>
            </form>
        }
    </td>
    <td>
        <form asp-action="DeleteTask" method="post">
            <input type="hidden" name="taskId" value=@Model.Id>
            <button type="submit">Delete</button>
        </form>
    </td>
</tr>